body {
    background: #e7e6e6;
}

.buyProductPage {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 750px;
    padding: 10px;
}

.buyProductPage .bpitems {
    display: flex;
    flex-wrap: wrap;
}
.buyProductPage .bpitems .item .item-img .image{
    height: 250px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* ---------------------------------new style----------------------------------- */
.buyProductPage .bpitems .item {
    width: 31%;
    text-align: center;
    /* background-color: #457b9d; */
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    min-height: 270px;
    box-shadow: -1px 4px 4px gray;
}
.item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 28px;
}
.pname {
    width: 100%;
    margin: 20px;
    justify-content: center;
    display: flex;
    font-size: 23px;
    align-items: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.pModal {
    width: 100%;
    height: 56px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    margin-top: -27px;
    font-size: 16px;
    text-transform: uppercase;
}
.item-innerdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: rgb(0, 0, 0);
    margin-top: -10px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.pPrice {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

form.buyProductAddForm {
    display: flex;
    font-size: 15px;
    align-items: center;
}
label {
    width: 100%;
}
input#piece {
    width: 150px;
    margin: 0px 5px 0px 20px;
    height: 26px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}
.item form input.btn {
    height: 26px;
    border: none;
    color: white;
    background: darkslateblue;
    transition: 0.2s;
}



.form-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formi-p {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input#salePrice,select#shippingMode {
    width: 150px;
    margin: 0px 5px 0px 20px;
    height: 26px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    
}

form .form-p .formi-p label {
    width: 120px;
    display: inline-block;
}

.buyProductPage .search form{
    display: flex;
    margin:0px 30px;
}
.buyProductPage .search form input[Type=text]{
    border: 1px solid grey;
    width: 100%;
}
.buyProductPage .search form input[Type=submit]{
    color: white;
    background-color: blueviolet;
    border: none;
    width: 10%;
    margin: 0px 10px;
    margin-right: 40px;
}
.buyProductPage .search form input[Type=submit]:hover{
    background-color: rgb(113, 14, 206);
}

/* ---------------------media qurey-------------------------- */

@media (max-width: 920px) {
    .buyProductPage .bpitems .item {
        width: 46%;
    }
    .item-img {
       font-size: 20px;
    }
    .item-img {
        font-size: 18px;
    }

    .pModal {
        margin-top: -34px;
        font-size: 11px;
        text-transform: uppercase;
    }
    .item-innerdiv {
        font-size: 17px;
    }
    form.buyProductAddForm {
        display: flex;
        font-size: 13px;
        align-items: center;
    }
    .buyProductPage .search form{
        margin:0px 30px;
    }
    .buyProductPage .search form input[Type=submit]{
        margin-right: 20px;
        width: 15%;
    }
}

@media (max-width: 600px){
    .buyProductPage .bpitems .item {
        width: 100%;
        text-align: center;
        margin: 10px;
        padding: 20px;
        font-size: 20px;
        border-radius: 8px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    .buyProductPage .bpitems {
        display: flex;
        flex-wrap: wrap;
    }
    .buyProductPage .search form{
        margin:0px 10px;
    }
    .buyProductPage .search form input[Type=submit]{
        margin: 0px 5px;
        margin-right: 0px;
        width: 15%;
    }
}
@media (max-width: 420px){
    .buyProductPage .bpitems .item {
        width: 100%;
    }
    .item-img {
       font-size: 20px;
    }

    .item-innerdiv {
        margin-top: -20px;
        font-size: 15px;
    }

    a.p-button {
        width: 100%;

    }
    .buyProductPage .search form input{
        height: 30px;
    }
    .buyProductPage .search form input[Type=submit]{
        margin: 0px 5px;
        margin-right: 0px;
        width: 20%;
    }
}

@media (max-width: 380px) {

    .item-img {
        font-size: 20px;
    }

    .pModal {
        margin-top: -31px;
        font-size: 11px;
    }

    .item-innerdiv {
        margin-top: -16px;
        font-size: 16px;
    }

    a.p-button {
        width: 100%;
        margin-left: 0;
    }
}
