body {
    background: #e7e6e6;
}

.companyPage {
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(220, 255, 255); */
    width: 100%;
    min-height: 750px;
    padding: 10px;
}

.companyPage h2 {
    font-size: 30px;
    margin: 10px 0px;
    color: #457b9d;
    font-weight: 700;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading a{
    font-size: 20px;
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.companyPage .heading .search form{
    display: flex;
}
.companyPage .heading .search form input{
    margin-right: 5px;
    height: 30px;
}
.companyPage .heading .search form input[Type=text]{
    width: 150px;
}
.companyPage .heading .search form input[Type=submit]{
    color: white;
    background-color: blueviolet;
    border: none;
}
.companyPage .heading .search form input[Type=submit]:hover{
    background-color: rgb(113, 14, 206);
}

.companyPage .crudBtn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.companyPage .crudBtn .add a {
    padding: 5px 10px;
    background-color: rgb(0, 158, 0);
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.companyPage .crudBtn .add a:hover {
    background-color: rgb(0, 99, 0);
}

.companyPage .companyContainer {
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
}

.companyPage .companyContainer table {
    width: 100%;
    padding: 10px;
}

.companyPage .companyContainer table th {
    text-align: left;
    font-size: 15px;
    padding: 5px 10px;

}

.companyPage .companyContainer table td {
    font-size: 15px;
    padding: 10px;
}

table td a {
    position: relative;
    margin: 0px 5px;
    background-color: blue;
    color: white;
    padding: 1px 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
}
table td a .cartCount{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 18px;
    height: 18px;
    background-color: brown;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: -14px;
    right: 0px;
    font-size: 13px;
}

.companyPage .companyContainer table td:last-child,
.categoryPage .companyContainer table th:last-child {
    text-align: left;
    width: 15%;
}

/* -------------------------------------new style----------------------------------------------- */

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0 12px 5pxrgba(32, 32, 32, .3);
}

th {
    border-spacing: none;
    background: #1b4965;
    color: white;
    border-radius: none;
}

tr:nth-child(odd) {
    background-color: #eeeeee
}


.user select{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    outline: none;
    height: auto;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.user .save input{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(79, 79, 255);
    color: white;
    font-size: 13px;
    outline: none;
    height: auto;
    padding: 5px;
    margin: 0px 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
}