.dashboardPage{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(220, 255, 255);
    /* width: 100%; */
    min-height: 750px;
    padding: 10px;
}
.dashboardPage .adminSection{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.dashboardPage .adminSection .items{
    background-image: linear-gradient(rgb(199, 139, 255),blueviolet);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    overflow: hidden;
    margin: 10px;
}
.dashboardPage .adminSection .items h3{
    font-size: 15px;
    margin: 10px 5px;
    font-weight: 100;
    letter-spacing: 1px;
}
.dashboardPage .adminSection .items h2{
    font-size: 50px;
    margin: 5px 5px;
}
.dashboardPage .adminSection .items p{
    font-size: 15px;
    margin: 5px;
    letter-spacing: 2px;
}
.dashboardPage .adminSection .items a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
    background-image: linear-gradient(rgb(202, 145, 255),rgb(71, 22, 247));
    font-weight: bold;
    margin:-10px;
    margin-top: 10px;
    letter-spacing: 1px;
    padding: 5px;
    transition-duration: 0.1s;
}
.dashboardPage .adminSection .items a:hover{
    background-image: linear-gradient(rgb(179, 97, 255),rgb(55, 13, 209));
    letter-spacing: 1.5px;
}
.dashboardPage h1{
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 3px blueviolet;
}
.dashboardPage .todayOrdersContainer .order{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}
.dashboardPage .todayOrdersContainer .order img{
    height: 150px;
}

/* admin */

.dashboardPage .todayOrdersContainer .order .about{
    font-size: 15px;
    margin-left: 1%;
}
.dashboardPage .todayOrdersContainer .order .about:last-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.dashboardPage .todayOrdersContainer .order .about div,.dashboardPage .todayOrdersContainer .order .about h2{
    font-size: 15px;
    margin: 10px;
}
.dashboardPage .todayOrdersContainer .order .about form select,.dashboardPage .todayOrdersContainer .order .about form input{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 15px;
}
.dashboardPage .todayOrdersContainer .order a{
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 5px 20px;
    border-radius: 5px;
    transition-duration: 0.1s;
}
.dashboardPage .todayOrdersContainer .order a:hover{
    background-color: rgb(128, 28, 28);
}
.dashboardPage .todayOrdersContainer h2{
    margin-top: 50px;
}
/* distributer  */

.dashboardPage .todayOrdersContainer .order .distributerAbout{
    font-size: 15px;
    margin-left: 1%;
}
.dashboardPage .todayOrdersContainer .order .distributerAbout div,.dashboardPage .todayOrdersContainer .order .distributerAbout h2{
    font-size: 15px;
    margin: 10px;
}
.dashboardPage .todayOrdersContainer .distributerAbout a{
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 5px 20px;
    border-radius: 5px;
    transition-duration: 0.1s;
}
.dashboardPage .todayOrdersContainer .distributerAbout a:hover{
    background-color: rgb(128, 28, 28);
}