body {
    background: #e7e6e6;
}
.myOrdersPage{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 750px;
    padding: 10px;
}

.myOrdersPage .myOrdersContainer .myOrder{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}
.myOrdersPage .myOrdersContainer .myOrder img{
    height: 150px;
}
.myOrdersPage .myOrdersContainer .myOrder .about{
    font-size: 20px;
    margin-left: 5%;
}
.myOrdersPage .myOrdersContainer .myOrder .about div{
    margin: 10px;
}
.myOrdersPage .myOrdersContainer .myOrder a{
    margin-left: 10%;
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 5px 20px;
    border-radius: 5px;
    transition-duration: 0.1s;
}
.myOrdersPage .myOrdersContainer .myOrder a:hover{
    background-color: rgb(128, 28, 28);
}




/* -----------------------new style---------------------------------------- */
.Morder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    align-items: stretch;
}
.myOrdersPage .myOrdersContainer .Morder .image{
    height: 250px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.myorder-box {
    width: 30%;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-weight: 700;
    align-items: flex-start;
    position: relative;
    min-height: 270px;
    line-height: 30px;
}
.myorder-box img {
    height: 250px;
}
.myorder-box h2{
        color: #457b9d;
        font-family: 'Fjalla One', sans-serif;
        font-family: 'Ubuntu', sans-serif;
}
.myorder-boxbtn {
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.myorder-boxbtn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background: #e63946;
    transition: 0.2s ease-in;
}


.myorder-boxbtn a:hover{
    background: #e40013;
}



/* ---------------------media querry-------------------- */
@media(max-width:936px){
    .Morder {
        flex-direction: column;
        align-items: start;
    }
    .myorder-box {
        width: 100%;
        text-align: left;
        flex-direction: column;
        color: rgb(0, 0, 0);
        
    }
}

@media(max-width:600px){
    .myorder-box {
        padding: 0;
    }
    
}